<div class="row">
    <div class="col-md-6">
        <div ng-if="vm.system" ba-panel ba-panel-title="System Info" ba-panel-class="with-scroll ">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th class="black-muted-bg">Host</th>
                        <td>{{vm.system.host}}</td>
                    </tr>
                    <tr>
                        <th class="black-muted-bg">Platform</th>
                        <td>{{vm.system.platform}}</td>
                    </tr>
                    <tr>
                        <th class="black-muted-bg">Release</th>
                        <td>{{vm.system.release}}</td>
                    </tr>
                    <tr>
                        <th class="black-muted-bg">Architecture</th>
                        <td>{{vm.system.architecture}}</td>
                    </tr>
                    <tr>
                        <th class="black-muted-bg">Distro</th>
                        <td>
                            <img src="/assets/img/distributor-logo.png" img-load-error alt="Distributor Logo">
                            {{vm.system.distro}}
                        </td>
                    </tr>
                    <tr>
                        <th class="black-muted-bg">Uptime</th>
                        <td>{{vm.system.uptime | amDurationFormat : 'seconds' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div ba-panel="" ba-panel-title="Alerts" ba-panel-class="with-scroll ">
            <p ng-if="vm.alerts.length === 0">
                There are no alerts to display.
            </p>
            <div ng-if="vm.alerts.length > 0" ng-repeat="alert in vm.alerts track by $index" class="alert {{alert.class}} animated pulse">
                <p>
                    <i class="{{alert.icon}}"></i>
                    {{alert.message}}
                </p>
            </div>
        </div>
    </div>
</div>
