@import 'common';

// injector
// endinjector

h1 > img {
  height: 1em;
  vertical-align: bottom;
}

.navbar-right {
  float: right;
}

.navbar-text {
  color: $primary-light;
}

.table > thead:first-child > tr:first-child > th.text-left,
.table > tbody > tr > td:first-child.text-left {
  text-align: left;
}

.panel.panel-blur {
  background: rgba(0, 0, 0, 0.5);
}

body.mobile .body-bg {
  background-color: transparent;
}

@-webkit-keyframes spin {
   from {
     -webkit-transform: rotate(0deg);
   }

   to {
     -webkit-transform: rotate(360deg);
   }
 }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }

  to{
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
  display: block;
  font-size: 5rem;
  height: 5rem;
  margin: auto;
  width: 5rem;
}

@-webkit-keyframes horizontal-fill {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@-moz-keyframes horizontal-fill {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@-ms-keyframes horizontal-fill {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes horizontal-fill {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.horizontal-filler-wrapper {
  border-left: $default-text 1px solid;
  border-right: $default-text 1px solid;
  height: 1rem;
  margin: 1rem 0;
  max-width: 15rem;
}

.horizontal-filler {
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: horizontal-fill;
  -moz-animation-name: horizontal-fill;
  animation-name: horizontal-fill;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  background-color: $default-text;
  display: block;
  height: 1rem;
}
