@import 'common';

// injector
// endinjector

h1 > img {
  height: 1em;
  line-height: 60px;
  vertical-align: middle;
  width: auto;
}

td > img {
  height: 1.5em;
  width: auto;
}

.half-height {
  height: 50vh;
  overflow-y: auto;
}

.navbar-right {
  float: right;
  height: 100%;
  max-width: 40%;
}

.hostname {
  color: rgb(99, 187, 178);
  font-size: 32px;
  line-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table > thead:first-child > tr:first-child > th.text-left,
.table > tbody > tr > td:first-child.text-left {
  text-align: left;
}

.panel > .panel-heading {
  height: auto;
}

.panel-danger .panel-heading {
  background: rgba(237, 120, 120, .5);
}

.panel.panel-blur {
  background: rgba(0, 0, 0, 0.5);
}

body.mobile .body-bg {
  background-color: transparent;
}

@-webkit-keyframes spin {
   from {
     -webkit-transform: rotate(0deg);
   }

   to {
     -webkit-transform: rotate(360deg);
   }
 }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }

  to{
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
  display: block;
  font-size: 5rem;
  height: 5rem;
  margin: auto;
  width: 5rem;
}

@-webkit-keyframes horizontal-fill {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@-moz-keyframes horizontal-fill {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@-ms-keyframes horizontal-fill {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes horizontal-fill {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.horizontal-filler-wrapper {
  border-left: $default-text 1px solid;
  border-right: $default-text 1px solid;
  height: 1rem;
  margin: 1rem 0;
  max-width: 15rem;
}

.horizontal-filler {
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: horizontal-fill;
  -moz-animation-name: horizontal-fill;
  animation-name: horizontal-fill;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  background-color: $default-text;
  display: block;
  height: 1rem;
}

.panel-default .horizontal-filler-wrapper {
  border-left: $bootstrap-panel-text 1px solid;
  border-right: $bootstrap-panel-text 1px solid;
}

.panel-default .horizontal-filler {
  background-color: $bootstrap-panel-text;
}

ul.pie-legend {
  display: table;
  margin: 1rem auto;
}

ul.pie-legend > li {
  display: block;
  text-align: left;
}

.jstree-default .jstree-themeicon-custom {
  background-size: auto 16px !important;
}
.ordered-process-list {
  padding-left: 22px;

  /* I wanted to use flexbox for this, but a bug involving Chrome and
   text-overflow: ellipsis; interfered. */
  .list-icon {
    background-position: center center;
    background-size: auto 12px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 12px;
    line-height: 12px;
    text-align: center;
    vertical-align: middle;
    width: 12px;
  }

  .process-name {
    display: inline-block;
    max-width: 66%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
  }

  .process-util {
    float: right;
  }
}
