<div ba-panel ba-panel-title="Process Tree" ba-panel-class="with-scroll tree-panel">
    <div class="row">
        <div class="form-group col-xs-10">
            <input type="text" class="form-control col-xs-9" id="process-search" placeholder="Filter Processes..." ng-change="vm.filterProcesses()" ng-model="vm.searchTerm">
        </div>
        <div class="col-xs-2 text-right">
            <button type="button" class="btn btn-primary btn-icon" ng-click="vm.loadProcesses()"><i class="ion-loop"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p ng-if="vm.treeProcesses.length === 0">
                No processes found.
            </p>
            <div ng-if="vm.treeProcesses.length > 0" js-tree="vm.treeConfig" ng-model="vm.treeProcesses" class="pre-scrollable half-height"></div>
        </div>
    </div>
</div>
