<div ng-repeat="row in vm.processorInfoColumns" ng-init="outerIndex = $index" class="row">
    <div ng-repeat="processor in row" ng-init="innerIndex = $index" class="col-sm-3">
        <div ba-panel ba-panel-title="Processor {{outerIndex + innerIndex}}" ba-panel-class="with-scroll ">
            <table class="table table-hover table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">
                            Model
                        </th>
                        <td>
                            {{processor.model}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Speed
                        </th>
                        <td>
                            {{processor.speed}} MHz
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div ba-panel ba-panel-title="Processor Utilization" ba-panel-class="with-scroll ">
            <canvas id="line" class="chart chart-line" chart-data="vm.chartData" chart-labels="vm.chartLabels"
                    chart-legend="true" chart-series="vm.chartSeries" chart-options="vm.chartOptions"></canvas>
        </div>
    </div>
</div>
