<div class="bandwidth-line-chart"
    ng-if="vm.showPanel"
    ba-panel
    ba-panel-title="{{vm.interface}} Bandwidth Utilization"
    ba-panel-class="with-scroll medium-panel">
    <canvas
            class="chart chart-line"
            chart-legend="true"
            chart-options="vm.chartOptions"
            chart-data="vm.chartData"
            chart-labels="vm.chartLabels"
            chart-series="vm.chartSeries"
    ></canvas>
</div>
<canvas
        ng-if="!vm.showPanel"
        class="chart chart-line"
        chart-legend="true"
        chart-options="vm.chartOptions"
        chart-data="vm.chartData"
        chart-labels="vm.chartLabels"
        chart-series="vm.chartSeries"
></canvas>