<div ba-panel ba-panel-title="Disk Utilization" ba-panel-class="with-scroll">
    <p ng-if="!vm.disks.length">
        No disks loaded.
    </p>
    <div class="row">
        <div class="col-md-3" ng-repeat="disk in vm.disks" >
            <div class="panel panel-default bootstrap-panel">
                <div class="panel-body">
                    <small style="display: block; overflow-x: scroll; white-space: nowrap;" title="{{disk.drive}}">
                        <i class="fa fa-hdd-o"></i>
                        {{disk.mountpoint}}
                    </small>
                    <div class="horizontal-filler-wrapper">
                        <div class="horizontal-filler" style="width: {{(disk.usedPer * 1.5).toFixed(0)}}px;"></div>
                    </div>
                    <small>
                        {{disk.usedPer}}% | {{disk.used}} / {{disk.total}}
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
