<div ba-panel ba-panel-title="Disk Utilization" ba-panel-class="with-scroll">
    <p ng-if="!vm.disks.length">
        No disks loaded.
    </p>
    <ul>
        <li ng-repeat="disk in vm.disks">
            <small title="{{disk.drive}}">{{disk.mountpoint}}</small>
            <div class="horizontal-filler-wrapper">
                <div class="horizontal-filler" style="width: {{(disk.usedPer * 1.5).toFixed(0)}}px;"></div>
            </div>
            <p>
                {{disk.usedPer}}% | {{disk.used}} / {{disk.available}}
            </p>
        </li>
    </ul>
</div>
