<div class="row" ng-if="vm.memory.swap">
    <div class="col-md-4">
        <memory-active-pie-chart memory="vm.memory"></memory-active-pie-chart>
    </div>
    <div class="col-md-4">
        <memory-detailed-pie-chart memory="vm.memory"></memory-detailed-pie-chart>
    </div>
    <div class="col-md-4">
        <memory-swap-pie-chart memory="vm.memory.swap"></memory-swap-pie-chart>
    </div>
</div>

<div class="row" ng-if="!vm.memory.swap">
    <div class="col-md-6">
        <memory-active-pie-chart memory="vm.memory"></memory-active-pie-chart>
    </div>
    <div class="col-md-6">
        <memory-detailed-pie-chart memory="vm.memory"></memory-detailed-pie-chart>
    </div>
</div>
