.loaded-processes-pie-chart {
  ul.pie-legend {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  ul.pie-legend > li {
    flex-basis: 33%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
