<div class="row">
    <div class="col-md-6">
        <div ng-if="vm.topCpuProcesses.length > 0" ba-panel ba-panel-title="Top Processor Intensive Tasks" ba-panel-class="with-scroll">
            <ol class="half-height">
                <li ng-repeat="process in vm.topCpuProcesses" title="{{process.command}}">
                    <i class="ion-gear-a"></i>
                    {{process.displayName}}
                    ({{process.processorUtilization}}%)
                </li>
            </ol>
        </div>
    </div>

    <div class="col-md-6">
        <div ng-if="vm.topMemoryProcesses.length > 0" ba-panel ba-panel-title="Top Memory Intensive Tasks" ba-panel-class="with-scroll">
            <ol class="half-height">
                <li ng-repeat="process in vm.topMemoryProcesses" title="{{process.command}}">
                    <i class="ion-gear-a"></i>
                    {{process.displayName}}
                    ({{process.memoryUtilization}})%
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div ba-panel ba-panel-title="Process Tree" ba-panel-class="with-scroll tree-panel">
            <div class="button-wrapper">
                <button type="button" class="btn btn-primary btn-raised btn-with-icon" ng-click="vm.getProcesses(true)">
                    <i class="ion-loop"></i>
                    <span ng-if="vm.treeProcesses.length === 0">Load Full Process Tree</span>
                    <span ng-if="vm.treeProcesses.length > 0">Refresh Tree</span>
                </button>
            </div>
            <div js-tree="vm.treeConfig" ng-model="vm.treeProcesses"></div>
        </div>
    </div>
</div>
