<div class="system-status"
    ba-panel ba-panel-title="System Info"
    ba-panel-class="with-scroll">
    <p ng-if="!vm.system">
        Loading...
    </p>
    <table ng-if="vm.system" class="table table-bordered">
        <tbody>
        <tr>
            <th class="black-muted-bg">Host</th>
            <td>{{vm.system.host}}</td>
        </tr>
        <tr>
            <th class="black-muted-bg">Platform</th>
            <td>{{vm.system.platform}}</td>
        </tr>
        <tr>
            <th class="black-muted-bg">Release</th>
            <td>{{vm.system.release}}</td>
        </tr>
        <tr>
            <th class="black-muted-bg">Architecture</th>
            <td>{{vm.system.architecture}}</td>
        </tr>
        <tr>
            <th class="black-muted-bg">Distro</th>
            <td>
                <img ng-src="/assets/img/app/distros/{{vm.system.distro.id}}.svg" img-load-error alt="Distributor Logo">
                {{vm.system.distro.description}}
            </td>
        </tr>
        <tr>
            <th class="black-muted-bg">Uptime</th>
            <td>{{vm.system.uptime | amDurationFormat : 'seconds' }}</td>
        </tr>
        </tbody>
    </table>
</div>
