.disks-percentage-bars {
  .drive {
    display: block;
  }

  .mountpoint {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .horizontal-filler-wrapper {
    max-width: 100%;
    width: auto;
  }
}
