<div class="row">
    <div class="col-md-6">
        <system-status system="vm.system"></system-status>
    </div>
    <div class="col-md-6">
        <div ba-panel="" ba-panel-title="Alerts" ba-panel-class="with-scroll ">
            <p ng-if="vm.alerts.length === 0">
                There are no alerts to display.
            </p>
            <div ng-if="vm.alerts.length > 0" ng-repeat="alert in vm.alerts track by $index" class="alert {{alert.class}} animated pulse">
                <p>
                    <i class="{{alert.icon}}"></i>
                    {{alert.message}}
                </p>
            </div>
        </div>
    </div>
</div>
