<div ng-if="vm.network" ba-panel ba-panel-title="Interfaces" ba-panel-class="network-interfaces tabs-panel with-scroll">
    <uib-tabset class="tabs-panel tabs-left">
        <uib-tab ng-repeat="(interface, bindings) in vm.network" heading="{{interface}}">
            <div class="row">
                <div class="col-md-6">
                    <bandwidth-line-chart interface="interface" bandwidth="vm.bandwidth[interface]" show-panel="false"></bandwidth-line-chart>
                </div>
                <div class="col-md-6">
                    <ng-repeat ng-repeat="binding in bindings">
                        <div class="table-responsive">
                            <table class="table table-bordered panel-body">
                                <tbody>
                                <tr>
                                    <th class="black-muted-bg col-xs-3">
                                        Address
                                    </th>
                                    <td>
                                        {{binding.address}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="black-muted-bg">
                                        Netmask
                                    </th>
                                    <td>
                                        {{binding.netmask}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="black-muted-bg">
                                        Family
                                    </th>
                                    <td>
                                        {{binding.family}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="black-muted-bg">
                                        MAC Address
                                    </th>
                                    <td>
                                        {{binding.mac}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-repeat>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
