<div ng-if="vm.network" ba-panel ba-panel-title="Interfaces" ba-panel-class="network-interfaces tabs-panel with-scroll">
    <uib-tabset class="tabs-panel tabs-left">
        <uib-tab ng-repeat="(interface, bindings) in vm.network.interfaces" heading="{{interface}}">
            <ng-repeat ng-repeat="binding in bindings">
                    <table class="table table-bordered panel-body">
                        <tbody>
                            <tr>
                                <th class="black-muted-bg col-xs-3">
                                    Address
                                </th>
                                <td>
                                    {{binding.address}}
                                </td>
                            </tr>
                            <tr>
                                <th class="black-muted-bg">
                                    Netmask
                                </th>
                                <td>
                                    {{binding.netmask}}
                                </td>
                            </tr>
                            <tr>
                                <th class="black-muted-bg">
                                    Family
                                </th>
                                <td>
                                    {{binding.family}}
                                </td>
                            </tr>
                            <tr>
                                <th class="black-muted-bg">
                                    MAC Address
                                </th>
                                <td>
                                    {{binding.mac}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </ng-repeat>
        </uib-tab>
    </uib-tabset>
</div>
